{{ define "main" }}
{{- partial "title-banner.html" . -}}
<div class="row">
    <div class="col-sm-2 no-padding">
        <aside aria-label="sidebar1">
            <ul class="list-group">
                {{range .Site.RegularPages.ByParam "postId"}}
                <li class="list-group-item list-group-item-action"><a class="nav-link"
                        href="{{.Permalink}}">{{.Title}}</a></li>
                {{end}}
            </ul>
        </aside>
    </div>
    <div class="col-sm-8">
        <div class="card mb-2">
            <article class="card-body">
                <p class="card-subtitle mb-3 text-muted">{{- partial "metadata-post.html" . -}}</p>
                {{ .Content }}
            </article>
            <div class="row">
                <div class="col-12 col-sm-6">
                    {{ with .PrevInSection }}
                    <a class="btn btn-primary btn-sm previous ms-2 mb-2" href="{{.Permalink}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                        </svg> Previous: {{.Title}}</a>
                    {{ end }}
                </div>
                <div class="col-12 col-sm-6 text-end">
                    {{ with .NextInSection }}
                    <a class="btn btn-primary btn-sm next me-2 mb-2" href="{{.Permalink}}">
                        Next: {{.Title}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <aside aria-label="sidebar2">
            <h6>
                Table Of Content
            </h6>
            <hr>
            <p>{{ .TableOfContents }}</p>
            <h6>Tags</h6>
            <hr>
            {{ with .Params.tags }}
            {{ range . }}
            <a class="btn btn-sm btn-outline-dark tag-btn">{{ . }}</a>
            {{ end }}
            {{ end }}
        </aside>
    </div>
</div>

{{ end }}